{% extends 'app_base/base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row d-flex align-items-center">
    <!-- <div class="col-6">
      <div class="img-fluid p-3">
        <img src="{% static 'images/Muses_Full_Color_banner.png' %}" style="max-height: 5rem;" />
      </div>
    </div> -->
    <div class="col-12 align-items-center my-4">
      <img src="{% static 'images/Muses_Full_Color_banner.png' %}" 
      style="max-height: 5rem; display: inline-block; vertical-align: top; margin-right: 1rem;" />
      <span class="slogan">// Calculation Engine</span>
    </div>
  </div>
  <!-- <div class="row">
    <div class="">
    </div>
  </div> -->
  <div class="row pt-3">
    <div class="col-lg-6">
      <div class="get-started">
        <h3 class="mb-3">Getting started</h3>
        <p class="ps-4 lead">
          <i class="bi bi-book"></i> <a href="https://ce.musesframework.io/docs/user/quickstart.html" target="_blank">Read the Quick Start guide</a> to setup your account and learn how to run workflows.
        </p>
        <p class="ps-4 lead">
          <i class="bi bi-life-preserver"></i> Join the discussion and ask for help <a href="https://forum.musesframework.io/new-topic?category=calc-engine-support&title=Replace%20me%20with%20descriptive%20title&body=Provide%20a%20detailed%20description%20of%20your%20problem%20and%20your%20question" target="_blank">
            on our community support forum</a>.
        </p>
        <p class="ps-4 lead">
          <i class="bi bi-blockquote-left"></i> Learn how to <a href="https://ce.musesframework.io/docs/user/policies/citation.html" target="_blank">cite this software in your publications</a>.
        </p>

      </div>
      <h3 class="mb-3">What is the Calculation Engine?</h3>
      <p class="">
        The Calculation Engine is an application that lets you <b>run scientific calculations as composable workflows</b>, 
        constructed from a growing library of MUSES modules. The service hosted at 
        <a href="https://{{ url }}">https://{{ url }}</a> provides the research community with scalable, high-performance 
        computing resources to run intensive calculations. 
      </p>
      <p class="">
        <b><a href="https://gitlab.com/nsf-muses/calculation-engine" target="_blank">The Calculation Engine is free and open source software</a></b>, so if you are a interested in learning how to self-host the Calculation Engine on your own hardware, either for development purposes or to operate your own production instance, <a href="https://ce.musesframework.io/docs/developer/calculation-engine.html" target="_blank">please see our developer documentation here.</a>
      </p>
      <h3 class="mb-3">What are MUSES modules?</h3>
      <p class="">
        <b>Modules are the atomic processing units of a MUSES workflow</b>. There are several types of modules, including those that calculate equations of state (EoS) and those that derive observable quantities from the EoS.
      </p>
      <p>The equation of state modules include:</p>
      <ul>
        {% for module in modules %}
        {% if module.type == "EoS" %}
        <li><b>{{ module.display_name }}</b> &ndash; <code>{{ module.name }} ({{ module.version }})</code></li>
        {% endif %}
        {% endfor %}
      </ul>
      <p>The observables modules include:</p>
      <ul>
        {% for module in modules %}
        {% if module.type == "Observable" %}
        <li><b>{{ module.display_name }}</b> &ndash; <code>{{ module.name }} ({{ module.version }})</code></li>
        {% endif %}
        {% endfor %}
      </ul>
      <p><b><a href="{% url 'module-list' %}"> <i class="bi bi-list-ul"></i> Visit this page</a> to view a more detailed list of registered modules.</b></p>

    </div>
    <div class="col-lg-6">
      <h3 class="mb-3">What are workflows?</h3>
      <p>MUSES workflows provide a way to orchestrate a custom execution of MUSES modules, allowing you to generate equations of state,
        process and synthesize data, and calculate observable quantities. Individual workflow executions are called jobs, which you can run concurrently
        on our performant compute nodes to generates reproducible results to download and analyze. <a href="https://ce.musesframework.io/docs/user/workflows.html">Learn more about MUSES workflows here.
        <img src="/static/images/workflow_crust_chiral_cmf_lepton_synthesis_qlimr.drawio.png" style="max-width: 100%;" class="m-3">
        </a>
      </p>
      <h3 class="mb-3">What is MUSES?</h3>
      <p class="">
        <a href="https://musesframework.io">MUSES</a> is an <b>interdisciplinary team</b> of physics experts in lattice QCD,
        nuclear physics, gravitational wave astrophysics, relativistic
        hydrodynamics, and research software engineers. The goal of the
        collaboration is to help <b>find answers to questions that bridge nuclear
        physics, heavy-ion physics, and gravitational phenomena</b> such as: 
      </p>
      <ul>
        <li>
          What exists within the core of a neutron star?
        </li>
        <li>
          What temperatures are reached when two neutron stars collide?
        </li>
        <li>
          What can nuclear experiments with heavy-ion collisions teach us about the strongest force in nature and neutron stars?
        </li>
      </ul>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
    </div>








  </div>
</div>

{% endblock %}
