{% extends 'app_base/base.html' %}
{% load static %}

{% block additional_css %}
<style>
  td.mono {
    max-width: 30rem;
    page-break-inside: avoid;
    font-family: monospace;
    overflow: hidden;
  }
  td.mono.narrow {
    max-width: 10rem;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row pt-3">
    <div class="col-lg-6">
      <h3>Modules</h3>
      <p class="">
        The table below displays the list of registered modules that can be included in workflows in this version of the Calculation Engine (<code>{{ version }}</code>).
      </p>
    </div>
  </div>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">Name / Docs</th>
        <th scope="col">Version / Source</th>
        <th scope="col">Container Image URL</th>
      </tr>
    </thead>
    <tbody>
      {% for module in modules %}
      <tr>
        
        <td class="mono narrow">
          <a class="nav-link" href="{{ module.docs_source_url }}">
            <i class="bi bi-journal-code"></i> {{module.name}}
          </a>
        </td>
        <td class="mono narrow">
          <a class="nav-link" href="{{module.repository_url}}/tree/{{module.version}}">
            <i class="bi bi-file-earmark-code"></i> {{module.version}}
          </a>
        </td>
        <td class="mono">
          <i class="bi bi-stack"></i> {{module.image_url}}
        </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
